<template>
  <!-- Specifications -->
  <div class="specifications">
    <p class="bold">Device specifications</p>
    <div class="table-responsive">
      <table class="table table-striped">
        <tbody>
          <tr v-for="info in $page.device.deviceInfo" :key="info.id">
            <td>{{ $static.portInfo.data.find(el => el.id == info.id).name }}</td>
            <td>{{info.value}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<static-query>
query {
  portInfo (id: "deviceInfoData") {
    data {id name}
  }
}
</static-query>

<script>
export default {
  name: "DeviceInfo"
};
</script>
